.loading-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #34495e;
    align-items: center;
    justify-content: center;

    & .loading {
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 50%;
        border-top: 10px solid #e74c3c;
        position: relative;
        animation: loading1 2s linear infinite;

        &::before,
        &::after {
            content: " ";
            width: 200px;
            height: 200px;
            position: absolute;
            top: -10px;
            left: 0;
            box-sizing: border-box;
            border-radius: 50%;
        }

        &::before {
            border-top: 10px solid #e67e22;
            transform: rotate(120deg);
        }

        &::after {
            border-top: 10px solid #3498db;
            transform: rotate(240deg);
        }

        & span {
            width: 200px;
            height: 200px;
            position: absolute;
            text-align: center;
            color: #fff;
            line-height: 200px;
            animation: loading2 2s linear infinite;
        }
    }
}

.loaded {
    opacity: 0;
    display: none;
}

@keyframes loading1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes loading2 {
    to {
        transform: rotate(-360deg);
    }
}